<form name="dataForm" novalidate ng-submit="submitForm(dataForm.$valid)">
    <div class="modal-body form-horizontal form">
        <div class="form-body portlet light">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-luru iconfont font-green-sharp  tabIcon"></i>
                    <span class="caption-subject bold uppercase">录入人员信息</span>
                </div>
                <div class="tools">
                    <i class="iconfont icon-guanbi" ng-click="cancel()"></i>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="{{'tabInfo1' == contentId?'active font-green-sharp':''}}">
                    <a ng-click="changeTab('tabInfo1')" data-toggle="tab">
                        <i class="icon-zhuyaogongnenggai iconfont tabIcon"></i>主要信息</a>
                </li>
                <li class="{{'tabInfo2' == contentId?'active font-green-sharp':''}}">
                    <a ng-click="changeTab('tabInfo2')" data-toggle="tab">
                        <i class="icon-lianxi iconfont tabIcon"></i>员工联系信息</a>
                </li>
                <li class="{{'tabInfo3' == contentId?'active font-green-sharp':''}}">
                    <a ng-click="changeTab('tabInfo3')" data-toggle="tab">
                        <i class="icon-dizhi iconfont tabIcon"></i>员工地址信息</a>
                </li>
                <li class="{{'tabInfo4' == contentId?'active font-green-sharp':''}}">
                    <a ng-click="changeTab('tabInfo4')" data-toggle="tab">
                        <i class="icon-zhengjianziliao iconfont tabIcon"></i>员工证件信息</a>
                </li>
                <li class="{{'tabInfo5' == contentId?'active font-green-sharp':''}}">
                    <a ng-click="changeTab('tabInfo5')" data-toggle="tab">
                        <i class="icon-baoxianzhushouicon07 iconfont tabIcon"></i>资格证信息</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade {{'tabInfo1' == contentId?'active in':''}}">
                    <div class="portlet-body">
                        <db-form-fields></db-form-fields>
                    </div>
                </div>

                <div class="tab-pane fade {{'tabInfo2' == contentId?'active in':''}}" ng-controller="relationInfoDetailCtrl">
                    <db-data-table></db-data-table>
                </div>
                <div class="tab-pane fade {{'tabInfo3' == contentId?'active in':''}}" ng-controller="addressInfoDetailCtrl">
                    <db-data-table></db-data-table>
                </div>
                <div class="tab-pane fade {{'tabInfo4' == contentId?'active in':''}}" ng-controller="credentialsDetailCtrl">
                    <db-data-table></db-data-table>
                </div>
                <div class="tab-pane fade {{'tabInfo5' == contentId?'active in':''}}" ng-controller="qualificationsDetailCtrl">
                    <db-data-table></db-data-table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>