<div class="modal-body form-horizontal form">
    <div class="form-body portlet light">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="icon-page1 iconfont font-green-sharp"></i>
                <span class="caption-subject bold uppercase">审核流程明细</span>
            </div>
            <div class="tools">
                <i class="iconfont icon-guanbi" ng-click="cancel()"></i>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                  <div class="col-md-12">
                      <table class="table table-bordered table-hover">
                          <thead>
                              <tr style="background-color: #E9ECF3;">
                                <th width="10%">业务类型</th>
                                <th width="10%">流程名称</th>
                                <th width="10%">业务描述</th>
                                <th width="8%">审核状态</th>
                                <th width="8%">申请人</th>
                                <th width="13%">申请日期</th>
                                <th width="8%">审核人</th>
                                <th width="13%">审核日期</th>
                                <th width="8%">审核结果</th>
                                <th width="8%">部门</th>
                              </tr>
                          </thead>
                          <tbody>
                          <tr  ng-repeat="item in flowitems">
                              <td ng-class="showStatusColor(item)">{{item.flowType}}</td>
                              <td ng-class="showStatusColor(item)">{{item.stepName}}</td>
                              <td ng-class="showStatusColor(item)">{{item.desc}}</td>
                              <td ng-class="showStatusColor(item)">{{item.status_name}}</td>
                              <td ng-class="showStatusColor(item)">{{item.applyPartyId}}</td>
                              <td ng-class="showStatusColor(item)">{{item.applyDate}}</td>
                              <td ng-class="showStatusColor(item)">{{item.partyName}}</td>
                              <td ng-class="showStatusColor(item)">{{item.auditDate}}</td>
                              <td ng-class="showStatusColor(item)">{{item.auditDesc}}</td>
                              <td ng-class="showStatusColor(item)">{{item.deptName}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
</div>
