<div role="form" class="form-horizontal form">
    <div class="portlet dbLight form-body" style="margin-bottom: 0px;">
        <div class="portlet-title">
            <div class="caption font-green-sharp" style="padding: 0px;margin: 20px 0 0 0;">
                <i class="icon-guolv101 iconfont font-green-sharp"></i>
                <span class="caption-subject bold uppercase">查询条件</span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title="" ng-if="!dbFormGrid.options.form.settings.showClose">
                </a>
                <i class="iconfont icon-guanbi" ng-click="dbFormGrid.events.modalClose()" ng-if="dbFormGrid.options.form.settings.showClose"></i>
            </div>
        </div>
        <div class="portlet-body" style="border-bottom: 1px solid #eee;">
            <div class="row dbRow">
                <div class="col-md-10">
                    <div class="col-md-{{field.cols}}" ng-repeat="field in dbFormGrid.options.form.fields">
                        <div class="form-group">
                            <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;">{{field.label}}</label>
                            <!-- orgTree -->
                            <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type=='orgTree'">
                                <db-org-tree></db-org-tree>
                            </div>
                            <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                                 ng-if="field.type==='text'">
                                <input ng-model='dbFormGrid.queryParams[field.name]' type="text" placeholder="{{field.placeholder}}"
                                       class="form-control">
                            </div>
                            <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}" ng-if="field.type==='select'">
                                <div class="input-group">
                                    <ui-select ng-model="dbFormGrid.queryParams[field.name]" theme="bootstrap">
                                        <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices
                                                repeat="item in field.dropDownItemValue | selectPropsFilter:{name:$select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button ng-click="dbFormGrid.queryParams[field.name] = [{name: '请选择', value: ''}]"
                                              class="btn btn-default" type="button">
                                          <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                                 ng-if="field.type==='dateRange'">
                                <div class=" input-group input-larger date-picker input-daterange" style="width: 100%;"
                                     data-date="now"
                                     data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" ng-model="dbFormGrid.queryParams.startDate"
                                           placeholder="开始日期">
                                    <span class="input-group-addon">-</span>
                                    <input type="text" class="form-control" ng-model="dbFormGrid.queryParams.endDate"
                                           placeholder="结束日期">
                                </div>
                            </div>
                            <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                                 ng-if="field.type==='date'">
                                <input ng-model="dbFormGrid.queryParams[field.name]" name="{{field.name}}"
                                       class="form-control date-picker" placeholder="{{field.placeholder}}" type="text"
                                       data-date-format="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <button class="btn btn-primary" type="button" ng-click="dbFormGrid.reLoadData()">
                        <i class="iconfont icon-chaxundingdan" style="color: white;font-size: 16px"></i>查询
                    </button>
                </div>
            </div>
        </div>

        <div class="portlet-title" style="border-bottom: 0px;">
            <div class="caption font-green-sharp" style="padding: 0px;margin: 20px 0 0 0;">
                <i class="icon-kuajingzhifuiconliebiao iconfont font-green-sharp"></i>
                <span class="caption-subject bold uppercase">数据列表</span>
            </div>
            <div class="tools">
                <button ng-if="dbFormGrid.events.grid.operationEvents.length > 0"
                        ng-repeat="button in dbFormGrid.events.grid.operationEvents"
                        class="btn btn-default {{button.class}}" type="button"
                        ng-click="dbFormGrid.operationButtonClick(button.click)">
                    <i class="iconfont icon-{{button.icon}}" style="color: white;font-size: 15px"></i>
                    {{button.name}}
                </button>
                <a href="" class="collapse" data-original-title="" title="">
                </a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="dbGrid table-scrollable">
                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                    <thead>
                    <tr style="background-color: #E9ECF3;">
                        <th ng-if="dbFormGrid.options.grid.settings.showCheckBox"
                            style="vertical-align: middle;width:5%;text-align: center;padding: 0px;border-right-width: 0px;">

                            <div class="form-group form-md-checkboxes" style="margin: 0px;">
                                <div class="md-checkbox-inline" style="width: 64px; margin: 0px;">
                                    <div class="md-checkbox">

                                        <input type="checkbox" class="md-check"
                                               checked="checked"
                                               ng-if="dbFormGrid.options.grid.settings.allRowChecked">
                                        <input type="checkbox" class="md-check"
                                               ng-if="!dbFormGrid.options.grid.settings.allRowChecked">

                                        <label ng-click="dbFormGrid.allRowClick()"><span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </th>
                        <th ng-repeat="header in dbFormGrid.options.grid.header"
                            style="width: {{header.width}};text-align: center;" ng-show="true" title="{{header.name}}">
                            <span class="headerName">{{header.name}}</span>
                            <i ng-click="dbFormGrid.sorting(header)" class="sorting {{header.sortingClass}}" id="sorting"></i>
                        </th>
                        <th ng-if="dbFormGrid.options.grid.rowOperation.show"
                            style="width:{{dbFormGrid.options.grid.rowOperation.width}};text-align: center;">操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in dbFormGrid.rows">
                        <th ng-if="dbFormGrid.options.grid.settings.showCheckBox"
                            style="vertical-align: middle;width:5%;text-align: center;padding: 0px;border-right-width: 0px;">

                            <div class="form-group form-md-checkboxes" style="margin: 0px;">
                                <div class="md-checkbox-inline" style="width: 64px; margin: 0px;">
                                    <div class="md-checkbox">
                                        <input type="checkbox" checked="checked" ng-if="row.checked"/>
                                        <input type="checkbox" ng-if="!row.checked"/>
                                        <label ng-click="dbFormGrid.rowClick(row)">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </th>
                        <td ng-repeat="header in dbFormGrid.options.grid.header" style="text-align: center;" ng-show="true" title="{{row[header.field]}}">
                            <a ng-click="header.clickEvent(row)" ng-class="header.class" ng-if="header.clickEvent">
                                {{row[header.field]}}</a>
                            <span ng-if="!header.clickEvent" ng-class="header.class"
                                  style="color:{{header.colorEvent(row[header.field],row)}}"> {{row[header.field]}}</span>
                        </td>
                        <td ng-if="dbFormGrid.options.grid.rowOperation.show" style="text-align: center;">
                            <button type="button" style="padding: 3px 8px;"
                                    class="btn btn-default {{button.class}}"
                                    ng-disabled="button.isDisabled(row)"
                                    ng-repeat="button in dbFormGrid.events.grid.rowEvents"
                                    ng-click="button.click(row)" title="{{button.name}}">
                                {{button.name}}
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="dbFormGrid.rows.length==0">

                        <td width="100%"
                            ng-if="!dbFormGrid.options.grid.settings.showCheckBox && !dbFormGrid.options.grid.rowOperation.show"
                            colspan="{{dbFormGrid.options.grid.header.length}}" class="text-center">
                            {{dbFormGrid.loadingTip}}
                        </td>
                        <td width="100%"
                            ng-if="dbFormGrid.options.grid.settings.showCheckBox != dbFormGrid.options.grid.rowOperation.show"
                            colspan="{{dbFormGrid.options.grid.header.length + 1}}" class="text-center">
                            {{dbFormGrid.loadingTip}}
                        </td>
                        <td width="100%"
                            ng-if="dbFormGrid.options.grid.settings.showCheckBox && dbFormGrid.options.grid.rowOperation.show"
                            colspan="{{dbFormGrid.options.grid.header.length + 2}}" class="text-center">
                            {{dbFormGrid.loadingTip}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="dbRow" style="padding-right: 5px;">
                <div class="text-right">
                    <ul class="pagination">
                        <li class="paginate_button" ng-click="dbFormGrid.reLoadData()">
                            <a href="#" class="refresh"><i class="icon-gengxin iconfont top"></i></a>
                        </li>
                        <li class="paginate_button previous {{dbFormGrid.page.prevPageDisabled}}"
                            ng-click="dbFormGrid.pageNumberClick('prev')">
                            <a href="#"><i class="icon-zuozuo-copy iconfont"></i></a>
                        </li>
                        <li ng-repeat="pageNumber in dbFormGrid.page.pageNumbers"
                            class="paginate_button {{pageNumber.active}} {{pageNumber.disabled}}"
                            ng-click="dbFormGrid.pageNumberClick(pageNumber.number)">
                            <a href="#">{{pageNumber.number}}</a>
                        </li>
                        <li class="paginate_button next {{dbFormGrid.page.nextPageDisabled}}"
                            ng-click="dbFormGrid.pageNumberClick('next')"><a href="#"><i
                                class="icon-youyou iconfont"></i></a>
                        </li>
                        <li class="paginate_button disabled"><a href="#">{{dbFormGrid.page.totalRecords}}条/{{dbFormGrid.page.totalPages}}页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>