<db-tree></db-tree>


<div class="dbTree jstree-default jstree-checkbox-selection">
    <ul class="jstree-container-ul jstree-children jstree-wholerow-ul jstree-no-dots">
        <li class="jstree-node jstree-open">
            <div class="jstree-wholerow">&nbsp;</div>
            <i class="jstree-icon jstree-ocl"></i>
            <a class="jstree-anchor" href="javascript:void(0);"><i
                    class="jstree-icon jstree-checkbox jstree-undetermined"></i>
                <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"></i>Same
                but with checkboxes</a>
            <ul class="jstree-children">
                <li class="jstree-node  jstree-leaf">
                    <div class="jstree-wholerow jstree-wholerow-clicked">
                        &nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor jstree-clicked" href="javascript:void(0);">
                        <i class="jstree-icon jstree-checkbox"></i>
                        <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"
                        ></i>initially selected</a></li>
                <li class="jstree-node  jstree-leaf">
                    <div class="jstree-wholerow jstree-wholerow-clicked">
                        &nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor jstree-clicked" href="javascript:void(0);">
                        <i class="jstree-icon jstree-checkbox"></i><i
                            class="jstree-icon jstree-themeicon fa fa-warning icon-state-danger jstree-themeicon-custom"
                    ></i>custom icon</a></li>
                <li class="jstree-node jstree-open">
                    <div class="jstree-wholerow jstree-wholerow-clicked">
                        &nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor jstree-clicked" href="javascript:void(0);">
                        <i class="jstree-icon jstree-checkbox"></i>
                        <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-default jstree-themeicon-custom"></i>initially
                        open</a>
                    <ul class="jstree-children" style="">
                        <li class="jstree-node  jstree-leaf jstree-last">
                            <div class="jstree-wholerow jstree-wholerow-clicked">&nbsp;</div>
                            <i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor  jstree-clicked"
                                                                     href="javascript:void(0);"
                                                                     id="j2_5_anchor"><i
                                class="jstree-icon jstree-checkbox"></i>
                            <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"></i>Another
                            node</a></li>
                    </ul>
                </li>
                <li class="jstree-node  jstree-leaf">
                    <div class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor" href="javascript:void(0);"><i class="jstree-icon jstree-checkbox"></i><i
                            class="jstree-icon jstree-themeicon fa fa-warning icon-state-warning jstree-themeicon-custom"></i>custom
                        icon</a></li>
                <li class="jstree-node  jstree-leaf jstree-last">
                    <div class="jstree-wholerow">&nbsp;</div>
                    <i class="jstree-icon jstree-ocl"></i>
                    <a class="jstree-anchor  jstree-disabled"
                       href="javascript:void(0);"><i class="jstree-icon jstree-checkbox"></i><i
                            class="jstree-icon jstree-themeicon fa fa-check icon-state-success jstree-themeicon-custom"></i>disabled
                        node</a></li>
            </ul>
        </li>
        <li class="jstree-node  jstree-leaf jstree-last">
            <div class="jstree-wholerow">&nbsp;</div>
            <i class="jstree-icon jstree-ocl"></i><a class="jstree-anchor"
                                                     href="javascript:void(0);"
        ><i
                class="jstree-icon jstree-checkbox"></i><i
                class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom"
        ></i>And wholerow selection</a></li>
    </ul>
</div>
